html {
    /*height: 100% !important;*/
    /*position: fixed;*/
    /*width: 200%;*/
    /*height: 200%;*/
    /*top: -50%;*/
    /*left: -50%;*/
    overflow: hidden;
    height: 100%;
    background: linear-gradient(rgba(190,93,59, 0.9), rgba(18,18,18, 0.9)), url('https://i.gifer.com/ZTrl.gif') repeat;
    /*background-size: 1.8%;*/
    /*pointer-events: none;*/
    /*z-index: -1;*/
    /*opacity: 10%;*/
}

body {
    height: 100%;
    overflow: auto;
    /*position: relative;*/
    margin: 0;
    /*background: grey;*/
    /*height: max-content;*/
    /*overflow: auto;*/
    /*height: 100% !important;*/
    /*background: #DE959F;*/
    /*background: #2B283A;*/
    /*opacity: 1 !important;*/
    /*background-size: auto;*/
    /*background: #2B283A;*/
    /*background: #2B283A url('https://i.gifer.com/ZTrl.gif') repeat;*/
}

/*body::before {*/
/*    content: "";*/
/*    background-size: cover;*/
/*    position: absolute;*/

/*    opacity: 0.1;*/
/*    left: 0;*/
/*    top: 0;*/
/*    width: 100%;*/
/*    height: 100% !important;*/
/*    !*background: #2B283A url('https://i.gifer.com/ZTrl.gif') repeat;*!*/
/*    background: grey url('https://i.gifer.com/ZTrl.gif') repeat;*/
/*    background-blend-mode: overlay;*/
/*    !*border: none;*!*/
/*}*/


* {
    box-sizing: border-box;
    font-family: 'Comfortaa', cursive;
}

/*@keyframes fadeIn {*/
/*    0%   {opacity: 0}*/
/*    100% {opacity: 1}*/
/*}*/


/*.emoji-effects {*/
/*    !*animation-name: fadeIn;*!*/
/*    animation-duration: 1s;*/
/*    opacity: 0.5;*/
/*}*/